.logo {
  width: 120px;
  padding: 3px 20px;
  height: 34px;
  line-height: 34px;
  color: #ccc;
  font-weight: 700;
}
:global {
  .ant-layout-header {
    line-height: 46px;
    height: 46px;
  }

  .ant-layout {
    min-height: 100%;
  }
}
@media screen and (min-width: 720px) {
  .box {
    display: flex;
    justify-content: space-between;
    background-color: black;
    //height: 100%;
  }

  .ant-layout-header {
    height: 90px;
  }
}

@media screen and (max-width: 72px) {
  .box {
    display: flex;
    //height: 100%;
  }
}

* {
  padding: 0;
  margin: 0;
}

.selected {
  background-color: pink;
}

.none-selected {
}

.LayCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 50px;
  flex: 1;
  .laySider {
    width: 20%;
    padding-left: 16px;
  }
  .layContent {
    width: 80%;
  }
}

.introduction {
  background-color: white;
  padding: 10px;
}

.section {
 margin-bottom: 16px;

  .title {
    background-color: #d9dfe8;
    height: 40px;
    line-height: 40px;
    padding-left: 7px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}


.otherTip {
  background-color: white;
  font-size: 14px;
  div{
    padding: 3px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.tip {
  height: 8vh;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 16px;
  width: 100%;
  .btn {
    font-size: x-small;
    background-color: #61dafb;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    &:hover {
      background-color: #d9dfe8;
    }
  }
}
