.container {
  min-width: 200px;
  .topicsList {
    //width: 300px;
    //background-color: cyan;
    :global {
      .ant-list-item {
        background-color: rgb(245, 245, 245);
        color: black;
      }
      .ant-list-item-meta-avatar {
        margin-right: 0;
      }
      .ant-list-items {
        min-width: 200px;
      }
    }
  }

  .footer {
    background-color: pink;
  }

  .top {
    display: inline-block;
    background-color: #61dafb;
    color: white;
    padding: 0 3px;
    font-size: small;
    border-radius: 4px;
  }

  .tab {
    display: inline-block;
    color: white;
    background-color: #cccccc;
    padding: 0 4px;
    font-size: small;
    border-radius: 4px;
  }

  .summery {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    border-top: #ffffff solid 0.02px;
    height: 50px;
    line-height: 50px;
    .dateDispaly {
      padding-right: 2px;
    }
    .titleDiv {
      display: flex;
      width: 100%;
      padding: 0 10px;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      //height: 30px;
      //line-height: 30px;
      .count {
        font-size: xx-small;
        width: 60px;
        text-align: center;
      }
      span {
        vertical-align: middle;
        flex-shrink: 0;
        text-align: center;
        margin-right: 5px;
        margin-top: 8px;
        margin-bottom: 8px;
        line-height: 34px;
      }
      a {
        display: inline-block;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
